<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AirBnB</title>

  <!-- Bootstrap v. 5 stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Bootstrap v. 5 Icons -->
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Bootstrap Font Icon CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
  <!-- D3 js -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Leaflet css - might not need to be in 'index.html' file if we have separate web page for leaflet map -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
  <!--CSS Sheet-->
  <link rel="stylesheet" href="../static/css/styles.css">

<body>
  <section>

    <!-- Nav Bar
================================================================================= -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Airbnb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#method">Methodology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#try">Try It!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://insideairbnb.com/get-the-data/" target="_blank">Our Data</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </head>

    <!-- Hero carousel
================================================================================= -->

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid carousel-image" width="100%" height=20px src="https://images.unsplash.com/photo-1522083165195-3424ed129620?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&w=1000&q=80
" preserveAspectRatio="xMidYMid slice" focusable="false" </img>
        </div>
        <div class="carousel-item">
          <img class="img-fluid carousel-image" width="100%" height=20px src="https://cdn.wallpapersafari.com/10/34/IylFwS.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" </img>

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Interested about your property?</h1>
              <p><a class="btn btn-lg btn-primary text-start" href="#try">Try it now!</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img-fluid carousel-image" width="100%" src="https://cdn.propertyinvestmentproject.co.uk/wp-content/uploads/airbnb-banner.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" </img>
          <div class="container">
            <div class="carousel-caption text-end">
              <p><a class="btn btn-lg btn-primary" href="http://insideairbnb.com/get-the-data/" target="_blank">Data Source</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



    <!-- Meet the Team
================================================== -->

    <section>
      <div class="container top">
        <div class="text-center">
          <h1>The Team</h1>
          <br>
        </div>
        <div class="row">
          <div class="col text-center">
            <img class="profile" src="https://media-exp1.licdn.com/dms/image/C4E03AQGPwlLuW3jBYA/profile-displayphoto-shrink_800_800/0/1600700362876?e=1665619200&v=beta&t=uy3eQeruJzPdsxPOXkTirgdTO5UsXCBLV9gdH4iy3IQ" alt="">
            <h2>Ellen Grove</h2>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/ellenegrove/">Linkedin</a></p>
          </div>
          <div class="col text-center">
            <img class="profile" src="https://media-exp1.licdn.com/dms/image/C4E03AQGSyX-RzAuCLg/profile-displayphoto-shrink_800_800/0/1611640274159?e=1665619200&v=beta&t=IkkMcZdVajjYSqKH1GdSqilNlJLWRM6GF4_Twm3V6ZM" alt="">
            <h2>Joshua Yesufu</h2>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/joshua-yesufu-9182ab202/">Linkedin</a></p>
          </div>
          <div class="col text-center">
            <img class="profile" src="https://media-exp1.licdn.com/dms/image/C5603AQHoyJ0h9mAImA/profile-displayphoto-shrink_800_800/0/1658201345482?e=1665619200&v=beta&t=Fo6CDftXc4ztMESkkiYNNCSoFvwFOdBwz24lt7xWUk4" alt="">
            <h2>Zach Meader</h2>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/zachary-meader-668674135/">Linkedin</a></p>
          </div>
          <div class="col text-center">
            <img class="profile" src="https://media-exp1.licdn.com/dms/image/C4E03AQFNTaSYXC9ngw/profile-displayphoto-shrink_800_800/0/1563324464984?e=1665619200&v=beta&t=Pxw_FX5YfWW3VCtO2F3QxjhZe-1NBhkla0Fi-Uw7Iso" alt="">
            <h2>Anne Pizzini</h2>
            <p><a class="btn btn-secondary align-middle" href="https://www.linkedin.com/in/annepizzini/">Linkedin</a></p>
          </div>
        </div>
      </div>
    </section>


    <!-- About the Project
================================================== -->
    <section id="about">

      <div class="container">
        <div class="row text-center">
          <h1>About the Project</h1>
          <h4><em>Using Machine Learning to Predict Rental Pricing</em></h4>
          <p>We were challenged to create a machine learning model that would be able to create a prediction based on a given set of training data. We decided on AirBnb's expansive dataset to shape our model and drive our predictions.</p>
        </div>
      </div>



    </section>



    <!-- Methodology
================================================== -->
    <section id="method">

      <div class="row text-center top">
        <div class="">
          <h1>Methodology</h1><br>
        </div>
      <div class="col-lg-4">
        <img class="profile"  src="https://cdn.icon-icons.com/icons2/1859/PNG/512/graphmagnifier_117961.png" alt="">
        <h2>Analysis & Visualizations</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="profile" src="https://cdn.icon-icons.com/icons2/1880/PNG/512/iconfinder-home-4341294_120570.png" alt="">
        <h2 class="fw-normal">Features</h2>

      </div>
      <div class="col-lg-4">
        <img class="profile" src="https://cdn.icon-icons.com/icons2/588/PNG/512/gear_clog_system_configuration_setup_icon-icons.com_55348.png" alt="">
        <h2 class="fw-normal">Model</h2>
      </div><!-- /.col-lg-4 -->
    </div>

      <div class="container">
        <div class="row text-center">
          <h2> Data Analysis with Visualizations</h2>
        </div>
        <br>
        <div id="data" class="clearfix">
          <img src="../images/Heat_Map.PNG" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
          <p>
            In order to stabilize and enhance the predictive power of our model, we needed to identify any listings in the dataset that were sufficiently unrepresentative of the typical Airbnb listing in New York City. Incorporating a luxury
          <p>
            1-bedroom rental listed at $10,000/night in the outskirts of Staten Island, for example, could obscure some intuitive relationships between the location and size of a rental and its price. As such, we defined various criteria that could
            be used to exclude unusual listings.
          </p>
          </p>
          <p>
            First and foremost, we removed any listings that had less than 20 reviews. This was done for several reasons, but most importantly 1) to weed out new Airbnb rentals on the market that have not had the chance to recalibrate their price to
            accurately reflect demand, and 2) to enhance the reliability of the ratings data.
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row text-center">
        </div>
        <div class="clearfix">
          <img src="../images/AveragePrice_and_Bedrooms.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
          <p>
            We also removed all listings with greater than 10 bedrooms. Listings with a minimum stay requirement of more than one year were similarly excluded.
          </p>
          <p>
            We also considered the property type of the listing. Inside Airbnb distinguishes between property type and room type, with property type giving a more descriptive label to the listing. For example, a listing may have a room type of ‘hotel
            room’ but the property type may describe the hotel room as belonging to a ‘boutique hotel’.
          </p>
          <p>
            We summarized all the listings in New York City and removed from the analysis any listings that had a property type that showed up 5 or fewer
            times in the dataset. This removed unusual listings with property types of ‘boat’, ‘cave’, and ‘room in a religious building’ for example. </p>
        </div>
      </div>

      <div class="container">
        <div class="row text-center">
        </div>
        <div class="clearfix">
          <img src="../images/correlation_matrix.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
          <p>
            Finally, we wanted to account for listings with atypically high prices which may not be well-explained by the existing data. However, we recognized that what may be an atypically high price in one part of New York City may not be
            unusually expensive in another part of the city.
          </p>
          <p>
            As such, we chose to define “atypically expensive” as any rental priced at a daily dollar value of 50% of the maximum listing price in that rental’s borough. In other words, if the most expensive Airbnb rental in Manhattan is $10,000 per
            night, then any rental greater than $5,000 per night would be designated as atypically expensive.
          </p>
          <p>
            At the same time, if the most expensive Airbnb in Queens is $4,000 per night, then any listing greater than $2,000 per night would be designated as atypically expensive and removed from the model.
          </p>
        </div>
      </div>

      <div id="features" class="container">
        <div class="row text-center">
          <h2>Features Considered</h2>
        </div>
        <div class="col">
          <h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Borough</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Number of bedrooms</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Number of individuals accommodate</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Room type (entire home, private bedroom, hotel room)</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Rental is instantly bookable</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Rental is a short-term rental (minimum stay of 30 days)</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Cleanliness Rating</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Location Rating</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Value Rating</li>
              <li class="list-group-item list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
  <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
  <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
</svg> Overall rating</li>
            </ul>
          </h4>
        </div>
      </div>

      <div id="model" class="container">
        <div class="row text-center">
          <h2>Model</h2>
        </div>
        <div class="row">
          <p>
            We employed two models to measure the relationship between a listing’s price and the aforementioned features. The first was a standard linear regression model, which attempts to fit a straight line through the data that minimizes the
            differences between each data point and the line. One of the primary shortcomings of a linear regression model is that it is unable to capture non-linear relationships in the data. We also utilized a random forests regressor model.
          </p>
          <div class="col  align-self-center">
            <div class="card">
              <h5 class="card-header text-center">Linear Regression Model</h5>
              <div class="card-body">
                <h5 class="card-title text-center"><strong>Train score:</strong> 0.4586770055163667</h5>
                <h5 class="card-title text-center"><strong>Test score:</strong> 0.42240377626206616</h5>
              </div>
            </div>
          </div>

          <div class="col  align-self-center">
            <div class="card">
              <h5 class="card-header text-center">Random Forest Regressor Model</h5>
              <div class="card-body">
                <h5 class="card-title text-center"><strong>Train score:</strong> 0.9289833832511434</h5>
                <h5 class="card-title text-center"><strong>Test score:</strong> 0.5143810013737884</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>


    <!-- Try it!
================================================== -->
    <section id="try">
      <div class="container tryIt">
        <div class="row text-center">
          <h1>Try it!</h1>
          <!-- Buttons-->
          <div class="form-group">
            <form method="POST" action="/send" role="form" class="form-group">
              <div class="form-group row">
                <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Borough
                  <select id="buroughs" class="form-control" name="buroughs">
                    <option value="Bronx">Bronx</option>
                    <option value="Brooklyn">Brooklyn</option>
                    <option value="Manhattan">Manhattan</option>
                    <option value="Queens">Queens</option>
                    <option value="Staten Island">Staten Island</option>
                  </select>
                </button>
              </div>
              <div class="form-group row">
                <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bed Rooms
                  <select id="bedrooms" class="form-control" name="bedrooms" type="integer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </button>
              </div>
              <div class="form-group row">
                <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Room Type
                  <select id="room_type" class="form-control" name="room_type" type="text">
                    <option value="Entire home">Entire home</option>
                    <option value="Hotel room">Hotel room</option>
                    <option value="Private room">Private room</option>
                    <option value="Shared room">Shared room</option>
                  </select>
                </button>
              </div>
              <div class="form-group row">
                <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Accomodates
                  <select id=accomm class="form-control" name="accomm" type="integer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                  </select>
                </button>
              </div>
          <div class="form-group row">
            <button button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Instantly Bookable
              <select id=instant class="form-control" name="instant" type="text">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </button>
          </div>
          <div class="form-group row">
            <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Short Term?
              <select id="short" class="form-control" name="short" type="text">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </button>
          </div>
          <div class="form-group row">
            <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cleanliness Score
              <select id="cleanliness" class="form-control" name="cleanliness" type="float">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </button>
          </div>
          <div class="form-group row">
            <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Review Score Value
              <select id="review_score_valule" class="form-control" name="review_score_value" type="float">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </button>
          </div>
          <div class="form-group row">
            <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Review Score Rating
              <select id="review_score_rating" class="form-control" name="review_score_rating" type="float">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </button>
          </div>
          <br>
          <input type="submit" value="Submit!" class="btn btn-primary">
        </form><br>
          <h2>{{result}}</h2>
</div>
<br>
    </section>

    <section>


      <section>
        <div class="container">
          <div class="row text-center">

          </div>
      </section>
      <!-- Leaflet js -- might not need to be in 'index.html' file if we have separate web page for leaflet map -->
      <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
      <!-- Bootstrap js -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <!-- apex charts -->
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <!-- Plotly -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <!-- Our js -->
      <script src="../static/js/js.js"></script>

      <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</head>

</body>

</html>
